@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* outline: 2px solid red; */
    transition: transform 0.8s ease;
}
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
.poppins-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.poppins-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.poppins-800 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.urbanist-400 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }
.urbanist-800 {
    font-family: "Urbanist", sans-serif;
    font-weight: 800;
  }

.bgImg{
    background-image: url("./assets/landing/BackgroundLines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-shadow {
    box-shadow: 3.11px 3.11px 0.5px rgba(0, 0, 0);
}

.custom-shadow-button-mobile {
    box-shadow: 3.58px 3.58px 0px rgba(0, 0, 0);
}

.custom-shadow-mobile-card {
    box-shadow: 0px 43.44px 34.75px -26.06px rgba(15, 15, 15, 0.12);
}


.custom-shadow-modal {
    box-shadow: 2.22px 2.22px rgba(0, 0, 0);
}

.custom-shadow-modal-otp {
    box-shadow: 2.56px 2.56px rgba(0, 0, 0);
}
.custom-shadow-modal-button {
    box-shadow: 1.4px 1.4px rgba(0, 0, 0);
}

/* The main container */
.container {
    position: relative; /* Enables absolute positioning for the pseudo-element */
    width: 100%; /* Full width */
    height: 200px; /* Set a height as needed */
    background-color: #ffffff; /* Background color, white in this case */
    overflow: hidden; /* Ensures the blur effect does not extend outside the container */
    border: 1px solid #ccc; /* Optional: For visibility of the container */
  }
  
  /* Pseudo-element to create the top blur effect */
  .container::before {
    content: ''; /* Necessary for pseudo-element */
    position: absolute; /* Positioned relative to the container */
    top: 0; /* Positioned at the top */
    left: 0; /* Full width from left */
    width: 100%; /* Full width */
    height: 50px; /* Adjust height to control the blur spread */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Gradient from white to transparent */
    filter: blur(10px); /* Apply blur effect */
    pointer-events: none; /* Prevent interaction interference */
  }
  
  
  

input:focus{
    outline: none;
}

  