@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 440px) {

.earth-mobile{
  height: 634px;
}

.earth-mobile-text{
  width: 482px;
}


}
@media (max-width: 440px) {

.earth-mobile{
  height: 431px;
}
.earth-mobile-text{
  width: 100%;
}

}




@media (min-width: 770px) {



    .earth-img{
      height: 100%;
    }

    .w-card-landing{
      width: 337px;
    }

    .w-main-landing-card-holder {
     justify-content: center;
     width: 100%;
    }
    .height-text-landing {
      height: 350px;
    }
}

@media (min-width: 1150px) {

  .w-card-landing{
    width: 332px;
  }
}


@media (min-width: 1000px) {

    .w-main-landing-card {
      min-height: 1000px;
    
    }
    .w-main-landing-card-holder {
      justify-content: center;
     }


}




@media (min-width: 1900px) {
    .w-main-landing {
      margin: 0px 260px;
      height: max-content;
    }
    .w-main-landing-div {
      min-height: 1600px;
    }
}

@media (min-width: 2200px) {
    .w-main-landing {
      margin: 0px 260px;
    }
    .w-main-landing-div {
      min-height: 2000px;
    }
}




.responsive-container {
  width: 533px;
  overflow-y: hidden;
  height: auto; /* Ensure the container adjusts height based on content */
}

.responsive-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 3vw; /* Responsive font size */
  line-height: 1.5; /* Relative line height */
  padding: 0 1rem; /* Add padding to avoid text touching the edges */
}

@media (max-width: 600px) {
  .responsive-text {
    font-size: 5vw; /* Adjust font size for smaller screens */
    line-height: 1.2;
  }
}

@media (min-width: 1600px) {
  .responsive-text {
    font-size: 2vw; /* Adjust font size for larger screens */
    line-height: 1.8;
  }
}

